body {
    padding: 0;
    margin: 0;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    background-color: rgb(2, 2, 63);
    display: flex;
    flex-direction: row;
    margin: 0;
}

.left_sidebar {
    height: 100vh;
    width: 20%;
    background-color: rgb(1, 1, 43);
}

.main_text {
    height: 100vh;
    width: 60%;
    background-color: rgb(2, 2, 63);
}

.right_sidebar {
    height: 100vh;
    width: 20%;
    background-color: rgb(1, 1, 43);
}

.createbutton {
    display: block;
    height: 50px;
    width: 200px;
    margin: auto;
    padding: 10px 20px;
    background-color: rgb(0, 123, 255);
    color: white;
    border-radius: 100px;
}

.sidenavbar {
    position: fixed;
    z-index: 10;
    color: white;
    background-color: darkslateblue;
}

.playersSection {

}